<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/">Home Page</a>
          <a href="/users">Member Page</a>
          <a href="/facilities">List of Facilities</a>
          <a href="/addUser">Add User</a>
      </div>
    </div>
    <div>
      <p>THE 1% COUNTRY CLUB</p>
    </div>
    </header>
    <div class="bodyContent">
    {{{body}}}
    </div>
  </body>
</html>
